@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: Poppins;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #FEFBF3;
}  

.header {
  color: black;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 1.5em;
}


.objava {
  color: black;
  width: 70%;
  border-radius: 5px;
  text-align: justify;
  padding: 1rem;
  margin: auto;
}

.objava2 {
  color: black;
  width: 70%;
  border-radius: 5px;
  text-align: justify;
  padding: 1rem;
  margin: auto;
}

.objava3 {
  color: black;
  width: 70%;
  border-radius: 5px;
  text-align: justify;
  padding: 1rem;
  margin: auto;
}