* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffffff;
}  

.header {
  color: #ffffff;
  background-color: #1e1e1e;
  font-size: .8em;
  padding: 5px;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 1.5em;
}


.objava {
  .naslov {
    color: #f73558;
    font-size: 2em;
  }
  .text {
    color: #1d1d1f;
    font-weight: bold;
  }
  background-color: #ffffff;
  width: 70%;
  border-radius: 5px;
  text-align: justify;
  padding: 1rem;
  margin: auto;
}
