* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #4568DC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header {
  background-color: #000000;
  color: white;
  padding: 0;
  margin: 0;
}

h1 {
  background-color: black;
  text-align: center;
  font-size: 1.5em;
  font-family: Courier New;
}


.objava {
  width: 70%;
  background: rgba( 255, 255, 255, 0.3 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  color: white;
  font-family: Fira Code Light;
  text-align: justify;
  padding: 1rem;
  margin: auto;
}

.objava2 {
  width: 70%;
  background: rgba( 255, 255, 255, 0.3 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  color: white;
  font-family: Fira Code Light;
  text-align: justify;
  padding: 1rem;
  margin: auto;
}